@model Zooterapp.Web.Data.Entities.Commitment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Commitment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Pet Owner
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PetOwner.User.FullName)
        </dd>
        <dt>
            Customer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.User.FullName)
        </dd>
        <dt>
            Pet Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Name)
        </dd>
        <dt>
            Pet Race
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pet.Race)
        </dd>
        <dt>
            Price
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-success">Back to List</a>
</div>
